body {
    margin: 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    max-width: 80%;
}

header {
    background-color: #9cd6f4;
    padding: 45px;
    background-image: url(../img/pattern.png);
    background-size: 30%;
}

.logo {
    height: 45px;
}

main {
    padding: 40px;
}

h1 {
    font-size: 40px;
    margin: 0;
    line-height: 48px;
}

.author-date {
    color: gray;
    margin-bottom: 20px;
}

.author .name {
    font-weight: normal;
    color: #4eb5ff;
}

.author-date .date {
    font-size: 12px;

}

.images .caption {
    font-size: 12px;
}

.highlights {
    background-color: yellow;
}

.content table {
    text-align: left;
}

.content table thead {
    background-color: #4eb5ff;
    color: white;
}

.content table thead .main-col {
    width: 50%;
}

.content table tbody .odd {
    background-color: #dfe5f2;
}

footer {
    background-color: rgb(31, 31, 81);
    color: white;
    text-align: center;
    padding: 15px;

}